@import url("https://fonts.googleapis.com/css?family=Roboto:100,100italic,300,300italic,regular,italic,500,500italic,700,700italic,900,900italic");

/* 
&display=swap
&subset=cyrillic-ext 
*/

/* ОБНУЛЕНИЕ СТИЛЕЙ */
*,
*::before,
*::after {
	margin: 0;
	padding: 0;
	border: 0;
	box-sizing: border-box;
}

li {
	list-style: none;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: inherit;
	font-size: inherit;
}

img {
	vertical-align: top;
}

html,
body {
	height: 100%;
}

html {
	font-size: 16px;
	/* по умолчанию */
}

body {
	line-height: 1;
}

.wrapper {
	min-height: 100%;
	overflow: hidden;
/* ! удалить в дальнейшем падд */
	padding: 50px;
}
/* *псевдоклассы состояния */
.name {
	font-size: 30px;
	letter-spacing: 10px;
	word-spacing: 40px;
	color: rgb(45, 137, 83);
	text-transform:capitalize;
	text-shadow: 5px 5px 2px rgb(198, 210, 73);
	text-align: center;
	margin: 0px 0px 20px 0px;
}
.list-hover {
	background-color: rgb(196, 219, 114);
	max-width: 500px;
	padding: 20px;
	margin: 0px 0px 20px 0px;

}
.list-hover li:not(:last-child){
margin: 0px 0px 15px 0px;
}
.list-hover li{
	font-size: 25px;
	font-style: italic;
	background: url('../img/pizza.png') left/20px no-repeat;
	padding: 0px 0px 0px 50px;
}
.list-hover li:hover{
	background: url('../img/pizza-deliver.png') 200px /30px no-repeat;
}

.link-visited, .link-active,.link-focus, .link-target {
	font-size: 30px;
	color: #000;

}
.header a:not(:last-child){
	margin: 0px 30px 0px 0px;
}
.link-visited:visited{
	color: rgb(211, 127, 127);
}
.link-active:active{
	color: rgb(209, 203, 26);
	font-size: 50px;
}
.link-focus:focus{
	color: rgb(5, 251, 169);
	background-color: rgb(124, 194, 117);
}
.target-text{
	padding: 20px;
	font-size: 20px;
	font-style: italic;
	background-color: rgb(229, 233, 185);
}
.link-target:target{
	color: yellow;
}
.fchild-text{
	font-size: 25px;
	border:1px solid #000;
	padding: 20px;
	}
.fchild-text p:first-child{
	color: turquoise;
}
.fchild-text p:nth-child(2){
	color: yellow;
}
.fchild-text span:first-of-type{
	color: violet;
}
.fchild-text:last-child{
	color: tomato;
}
.fchild-text p:not(:last-child){
	margin: 0px 0px 10px 0px;
}
.expltext::first-letter{
	font-size: 30px;
	color: teal;
}
.expltext::first-line{
	color: rgb(123, 255, 0);
}
.ba::after,
.ba::before{
content: "*";
}
.list li::before{
	content: "";
	width: 10px;
	background-color: rgb(146, 39, 39);
	border-radius: 50%;
	height: 10px;
	display: inline-block;
	margin: 0px 20px 0px 0px;

}
.list li:hover::before{
	background-color: rgb(126, 91, 241);
}
.list li{
	letter-spacing: 10px;
	font-size: 25px;
	text-shadow: 5px 5px 2px rgb(50, 171, 180);
}
/* !!!! ПЕРЕДЕЛАТЬ */
.promice {
	background-color: #F5F5F5;
}

.promice-container {
	max-width: 1020px;
	border: 1px solid #000;
	margin: 0px auto;
}
.promice-head {
	max-width: 583px;
	padding: 0px 0px 42px 0px;
}
.subtitle {
font-family: 'Roboto';
font-weight: 700;
font-size: 12px;
line-height: 24px;
margin: 0px 0px 33px 0px;
letter-spacing: 2.5px;
text-transform: uppercase;
color: #5D62B5;
}
.title {
font-family: 'Roboto';
font-weight: 900;
font-size: 36px;
line-height: 42px;
color: #000000;
}
.promice-row {
	font-size: 0px;
text-align: center;
}
.block {
	max-width: 235px;
	display: inline-block;


}
.promice-row .block::before{
	content: '';
	display: inline-block;
	width: 63px;
	height: 63px;
	background: url('../img/icons/dog_love_24x.png') 0 0  no-repeat;
}
.promice-row div:nth-child(2)::before{
	content: '';
	display: inline-block;
	width: 63px;
	height: 63px;
	background: url('../img/icons/dog_vet_24x.png') left no-repeat;
}
.promice-row div:nth-child(3)::before{
	content: '';
	display: inline-block;
	width: 63px;
	height: 63px;
	background: url('../img/icons/dog_stream_24x.png') 0 0 no-repeat;
}
.promice-row .block:not(:last-child){
	margin: 0px 27px 0px 0px;
}

.block-title {
	font-family: 'Roboto';
font-weight: 900;
font-size: 19px;
line-height: 26px;
color: #F2726F;
margin: 0px 0px 20px 0px;
text-align-last: left;
}
.block-text {
	font-family: 'Roboto';
font-size: 16px;
line-height: 24px;
letter-spacing: 0.15px;
color: #4B4B4B;
text-align: left;
}